<p id="notice"><%= notice %></p>

<p>
  <strong>Card rfid:</strong>
  <%= @student.card_rfid %>
</p>

<p>
  <strong>Id number:</strong>
  <%= @student.id_number %>
</p>

<p>
  <strong>First name:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @student.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @student.last_name %>
</p>

<p>
  <strong>Course:</strong>
  <%= @student.course %>
</p>

<p>
  <strong>Year level:</strong>
  <%= @student.year_level %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @student.contact_number %>
</p>

<p>
  <strong>Type:</strong>
  <%= @student.stype %>
</p>

<p>
  <strong>Entered:</strong>
  <%= @student.entered %>
</p>
<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
